.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.formlable {
  padding: 10px;
}
.App-link {
  color: #61dafb;
}
.flex-box-container-2{
  display: flex;
  border: 1px solid black;
  background-color:  #ededed;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  justify-content: space-around;
}
.flex-box-container-1{
  border: 1px solid black;
  background-color:  #ededed;
  flex-wrap: wrap;
  width: 15vw;
  height: 20vw;
  margin: auto;
  justify-content: space-around;
}
.flex-form-1{
  padding: 11px 38px 48px 50px;
}
.container-2 {
  border: 1px solid transparent;
  margin: auto;
  background-color:transparent;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 43px;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
